.image-container {
  position: relative;
  margin-top: 1.2rem;
}

img {
  width: 100%;
  height: auto;
  animation: fadeIn 0.7s forwards;
}

.text-box {
  position: absolute;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  top: -1.2rem;
  left: -1.2rem;
  border: 2px solid black;
  background-color: white;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.3s;
  font-weight: 500;
  display: inline-flex;
  white-space: break-spaces;
  box-sizing: border-box;

  @media (max-width: 468px) {
    padding: 0.5rem 1rem;
    font-size: 14px;
    max-width: 80%;
    left: -0.4rem;
    top: -1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 0);
    transform-style: preserve-3d;
  }
  to {
    opacity: 1;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  }
}
